<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="<% vars.locale %>" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <% vars.commons.title(pageTitle) %>
    <% vars.commons.meta(pageMeta, pageKeywords) %>
    <% vars.commons.css %>
    <% vars.commons.script %>
    <link rel="stylesheet" href="/commons/css/commons.css?v=3.0">
  </head>
  <body>
    <% vars.commons.advertisment %>
    <% vars.commons.header %>
    <% content %>
  </body>
</html>