<form>
  <h2><% vars.i18n.saved_games %></h2>

  <p class="padding">
    <% IF saves.keys.size == 0 %>
      <strong><% vars.i18n.not_found %></strong>
    <% ELSE %>
      <ul>
      <noindex>
      <% FOREACH pair IN saves.pairs %>
         <li><a href="<% pair.value %>" target="_blank" rel="nofollow"><% pair.key %></a></li>
      <% END %>
      </noindex>
      </ul>
    <% END %>
  </p>

</form>